#CompassForWeb{
	height: 10vh;
}
#Card{
	margin-top: 5vh;
	margin-left: 2.5vw;
	width: 95vw;
}
#JohnSmith{
	margin-left: 1vw;
	margin-top: 2vh;
	font-size: 5vh;
	line-height: auto;
}
#Sunnydale{
	margin-left: 1vw;
	font-size: 3vh;
}
#DateCard{
	margin-top: 5vh;
	margin-left: 2.5vw;
	width: 46.1vw;
	height: 50vh;
	display: inline-block;
}
.BottomCard{
	width: 100vw;
	
}
