@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Roboto|Schoolbell');

h1,h2,h3,h4{font-family: 'Roboto', sans-serif; font-weight: normal;}
h5{font-family: 'Libre Barcode 128 Text', cursive; font-weight: normal;}
p{font-family: 'Comic Sans MS', 'Schoolbell', cursive; font-weight: normal;}

.center{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.label-fixed{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}
.label-100-width{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}
.label-normal{
    width: auto;
    margin-left: auto;
    margin-right: 5px;
}
.bottom{
    position: absolute;
    bottom: 0;
}
.large{
    width: 100%;
}
.small{
    height: 35px;
}
.green{
    background-color: green;
}
.inline{
    display: inline-block;
}
#date{
    font-weight: normal;
}
.white-text{
    color: white;
}
