    .compassWelcome{
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 21.5px;
    }
    .topCard{
      height: 35vh;
      width: 100%;
      background-color: #07c;
      outline: 10px solid #07c;
    }
    .studentName{
      font-family: 'Roboto', sans-serif;
      font-size: 60px;
      line-height: 85px;
      color: white;
    }
    .studentSchool{
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: normal;
      line-height: 25px;
      color: white;
    }
    h1{
      display: inline-block;
      font-size: 1px;
    }
    .image{
      height: auto;
      width: 220px;
      padding-left: 5vw;
      padding-bottom: 5vw;
    }
    .dayplanCard{
      height: 1px;
      width: 30vw;
      background-color: #ffffff;
    }
    .dayplanTitle{
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: normal;
      line-height: 25px;
      color: #07c;
    }
    .link:hover{
      opacity: 0.8;
    }
    .learningTask{
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
